// 所有主题样式
$bg-color: (
  light: #fff,
  dark: #091a28
);

$title-color: (
  light: #363636,
  dark: #fff
);

$menu-text: (
  light: #4a4a4a,
  dark: #fff
);


$menu-bg: (
  light: #fff,
  dark: #091a28
);
 


$subtitle-color: (
  light: #4a4a4a,
  dark: cyan
);

$menu-text-hover: (
  light: #e6eefb,
  dark: #18222c
);

$border-bottom: (
  light: 1px solid #dbdbdb,
  dark: 1px solid #363636
);

// @mixin useTheme($key, $valueMap) {
//   // theme list
//   $themes: light, dark;
//   @each $theme in $themes {
//     [data-theme=#{$theme}] & {
//       #{$key}: map-get($valueMap, $theme);
//     }
//   }
// }

@mixin useTheme($key, $valueMap) {
  // theme list
  $themes: light, dark;

  @each $theme in $themes {
    .#{$theme} & {
      #{$key}: map-get($valueMap, $theme);
    }
  }
}
